body
{
	font-family: Arial;
	margin: auto auto;
	width: 97%;
}
textarea
{
	overflow: hidden;
	pointer-events: none;
	resize: none;
}
#btn-settings
{
	height: 70% !important;
	background-color: transparent;
	background: url("../assets/image/gear_unclicked.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	display: block;
	margin: 10% auto 0% auto;
	width: 70% !important;
}
#btn-settings:active
{
	height: 70% !important;
	background-color: transparent;
	background: url("../assets/image/gear_clicked.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	display: block;
	margin: 10% auto 0% auto;
	width: 70% !important;
}
#btn-settings:focus
{
	outline: 0;
}
#event-screen
{
	background-color: #000000;
	background-size: 100% 100%;
	border: 1px solid #A9A9A9;
	border-radius: 10px;
	color: #49E20E;
	height: 75%;
	left: 10%;
	padding-left: 2px;
	position: absolute;
	top: 6%;
	width: 80%;
}
#mainview
{
	display: block;
	position: absolute;
	height: 80%;
	left: 10%;
	top: 10%;
	width: 80%;
}
#top-left,
#top-center,
#top-right,
#middle-left,
#middle-right,
#bottom-left,
#bottom-center,
#bottom-right
{
	display: block;
	position: absolute;
}
#top-left
{
	background-color: transparent;
	background: url("../assets/image/hud_top_left.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 0% 0% 15% 0%;
	height: 15%;
	left: 0%;
	top: 0%;
	width: 15%;
	z-index: 10;
}
#top-center
{
	background-color: transparent;
	background: url("../assets/image/hud_top_center.png") no-repeat;
	background-size: 100% 100%;
	height: 10%;
	left: 15%;
	top: 0%;
	width: 70%;
}
#top-right
{
	background-color: transparent;
	background: url("../assets/image/hud_top_right.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 0% 0% 0% 15%;
	height: 15%;
	left: 85%;
	top: 0%;
	width: 15%;
	z-index: 10;
}
#middle-left
{
	background-color: transparent;
	background: url("../assets/image/hud_middle_left.png") no-repeat;
	background-size: 100% 100%;
	height: 70%;
	left: 0%;
	top: 15%;
	width: 10%;
}
#middle-left input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 80%;
    width: 100%;
}
#middle-right
{
	background-color: transparent;
	background: url("../assets/image/hud_middle_right.png") no-repeat;
	background-size: 100% 100%;
	height: 70%;
	left: 90%;
	top: 15%;
	width: 10%;
}
#bottom-left
{
	background-color: transparent;
	background: url("../assets/image/hud_bottom_left.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 0% 15% 0% 0%;
	height: 15%;
	left: 0%;
	top: 85%;
	width: 15%;
	z-index: 10;
}
#bottom-center
{
	background-color: transparent;
	background: url("../assets/image/hud_bottom_center.png") no-repeat;
	background-size: 100% 100%;
	height: 10%;
	left: 15%;
	top: 90%;
	width: 70%;
}
#bottom-center button
{
	float: left;
	font-size: 10px;
	min-width: 40px;
	min-height: 40px;
	width: 10%;
	height: 10%;
	margin: 2% 5% 0% 9%;
}
#bottom-right
{
	background: url("../assets/image/hud_bottom_right.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 15% 0% 0% 0%;
	height: 15%;
	left: 85%;
	top: 85%;
	width: 15%;
	z-index: 10;
}
#space-clock
{
	background-size: 100% 100%;
	border:1px solid #A9A9A9;
	display: block;
	height: 75%;
	left: 15%;
	position: absolute;
	top: 10%;
	width: 75%;
	z-index: 20;
}
#stat-screen
{
	background-color: #000000;
	background-size: 100% 100%;
	border: 1px solid #A9A9A9;
	border-radius: 10px;
	color: #49E20E;
	height: 85%;
	left: 10%;
	padding-left: 2px;
	padding-top: 10px;
	position: absolute;
	top: 6%;
	width: 80%;
}
#stat-screen h2
{
	font-size: 12px;
}
#stat-screen p
{
	font-size: 10px;
	margin: 5px 0px 10px 0px;
	text-align: center;
}
.range-bar
{
	float: left;
    height: 80%;
    margin-top: 40%;
    width: 30%;
}

.range-quantity
{
	background-color: #000000;
	color: #49E20E;
	font-size: 15px;
	height: 10%;
	line-height: 250%;
	text-align: center;
	width: 100%;
}
.left-indent
{
	margin-left: 5%;
}
.left-screen
{
	border-color: #A9A9A9;
	border-radius: 5px 0px 0px 5px;
	border-style: solid;
	border-width: 1px 0px 1px 1px;	
}
.middle-screen
{
	border-color: #A9A9A9;
	border-style: solid;
	border-width: 1px 0px 1px 0px;	
}
.right-screen
{
	border-color: #A9A9A9;
	border-radius: 0px 5px 5px 0px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;	
}