body
{
	font-family: Arial;
	margin: auto auto;
	width: 97%;
}
#btn-settings
{
	height: 70% !important;
	background-color: transparent;
	background: url("../assets/image/gear_unclicked.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	display: block;
	margin: 10% auto 0% auto;
	width: 70% !important;
}
#btn-settings:active
{
	height: 70% !important;
	background-color: transparent;
	background: url("../assets/image/gear_clicked.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	display: block;
	margin: 10% auto 0% auto;
	width: 70% !important;
}
#btn-settings:focus
{
	outline: 0;
}
#mainview
{
	display: block;
	position: absolute;
	height: 80%;
	left: 10%;
	top: 10%;
	width: 80%;
}
#top-left,
#top-center,
#top-right,
#middle-left,
#middle-right,
#bottom-left,
#bottom-center,
#bottom-right
{
	background-image: url("../assets/image/metallic_1.png");
	display: block;
	position: absolute;
}
#top-left
{
	border-radius: 0% 0% 15% 0%;
	height: 15%;
	left: 0%;
	top: 0%;
	width: 15%;
	z-index: 1000;
}
#top-center
{
	height: 10%;
	left: 15%;
	top: 0%;
	width: 70%;
}
#top-right
{
	border-radius: 0% 0% 0% 15%;
	height: 15%;
	left: 85%;
	top: 0%;
	width: 15%;
	z-index: 1000;
}
#middle-left
{
	height: 70%;
	left: 0%;
	top: 15%;
	width: 10%;
}
#middle-right
{
	height: 70%;
	left: 90%;
	top: 15%;
	width: 10%;
}
#bottom-left
{
	border-radius: 0% 15% 0% 0%;
	height: 15%;
	left: 0%;
	top: 85%;
	width: 15%;
	z-index: 1000;
}
#bottom-center
{
	height: 10%;
	left: 15%;
	padding-left: 7%;
	top: 90%;
	width: 70%;
}
#bottom-center button
{
	float: left;
	min-width: 40px;
	min-height: 40px;
	width: 10%;
	height: 10%;
	margin: 2% 5% 0% 5%;
}
#bottom-right
{
	border-radius: 15% 0% 0% 0%;
	height: 15%;
	left: 85%;
	top: 85%;
	width: 15%;
	z-index: 1000;
}